.headerRoot {
  margin: 25px 0px;
}

.header {
  font-size: 60px;
}

.lineRed {
  height: 5px;
  width: 200px;
  background: red;
  margin-left: 5px;
}

.lineGreen {
  height: 5px;
  width: 200px;
  background: green;
  margin-left: 5px;
}

.textareaLable {
  font-weight: 600;
  font-size: 20px;
}

.buttonAnalyze {
  margin: 10px 0;
  width: 100%;
}

.tickIcon {
  color: green;
}

.center {
  text-align: center;
}
